body {
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.square {
   /* width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;*/
}

#circle {
    color: purple;
    font-size: 40px;
}

.container {
   /* background: linear-gradient(to right, #00ccff,#b3f0ff);
    box-shadow: 3px 5px 3px black;*/
}

h1 {
    color: #FF0000;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: rgb(255,0,0);
    text-shadow: 1px 1px 3px darkblue;
}